True
D:\Progetti Personali\Monkey Island - Doppiaggio in italiano\xwb-dubkit test\audio originale
D:\Progetti Personali\Monkey Island - Doppiaggio in italiano\xwb-dubkit test\audio doppiato
"C:\GOG Games\Monkey Island 1 SE\audio\Speech.xwb"
"C:\GOG Games\Monkey Island 1 SE\MISE.exe"
C:\GOG Games\Monkey Island 1 SE\audio
True
